.TodoListForm {
    display: flex;
    justify-content: center;

    width: 100%;
}

.TodoListForm__input {
    min-width: 320px;
    padding: 14px 22px;
    font-size: 18px;

		border-radius: 10px;
}

.TodoListForm__button {
    margin-left: 8px;
    padding: 12px;
		border-radius: 20px;
}

.TodoListForm__button:not(:disabled) {
	cursor: pointer;
	border: 1px  solid rgb(0, 166, 255);
	background-color: rgb(0, 166, 255);
}

.TodoListForm__button:not(:disabled):hover {
	border: 1px  solid rgb(23, 100, 216);
	background-color: rgb(23, 100, 216);
}